#para{
    border:1px solid black;
    background-color: grey;
    margin-top:30px;
    padding:20px;
    font-family: cursive;
    font-size:15px;
    font-weight: bold;
}

nav{
     padding:25px;
}


a{
    font-weight: bolder;
    font-family:fantasy;
}



h1{
    padding:10px;
    font-family:fantasy;
}

h4{
    font-weight: bolder;
    font-family:cursive;
}

p{
    padding:10px;
}
