#para{
    border:1px solid black;
    background-color: grey;
    margin-top:30px;
    padding:20px;
    font-family: cursive;
    font-size:15px;
    font-weight: bold;
}

nav{
     padding:25px;
}


a{
    font-weight: bold;
    font-family:cursive;
}



h1{
    padding:10px;
    font-family:cursive;
}

h4{
    font-weight: bold;
    font-family:cursive;
}

ul > li
{
    text-align:center;
    border-bottom:2px solid white;
    font-family:cursive;
}

p{
    padding:10px;
}
